/*! .header */
.header, .bg-blue
  height: 106px
  position: fixed
  top: 0 
  left: 0
  right: 0
  width: 100%
  transition: all linear .5s
  transition: background 1s
  font-style: normal
  font-weight: normal
  font-size: 16px
  line-height: 23px
  letter-spacing: 0.02em
  font-family: Museo
  z-index: 9999
.header 
  width: 100%
  height: 106px
  z-index: 9999
  background-color: rgba(255, 255, 255, 0.3)
  //z-index: -4


.bg-blue
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), rgba(255, 255, 255, 0.3)
  display: none
  z-index: 999
  
.main-color-change-dark
  transition: all linear 1s
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), rgba(255, 255, 255, 0.3)!important

.main-color-change
  transition: all linear 1s
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), rgba(255, 255, 255, 0.3)!important

.burger-menu 
  position: absolute
  right: 40px 
  width: 34px
  height: 50px
  cursor: pointer

.burger 
  position: absolute
  background: #fff
  width: 100%
  height: 5px
  top: 50%
  border-radius: 8px
  right: 0px
  margin-top: -5px
  opacity: 1

.burger
  &::before 
    border-radius: 8px
    position: absolute
    background: #fff
    width: 34px
    height: 5px
    top: 10px
    content: ""
    display: block

.burger
  &::after 
    border-radius: 8px
    position: absolute
    background: #fff
    width: 34px
    height: 5px
    bottom: 10px
    content: ""
    display: block

.burger::after, .burger
  &::before, .burger 
    transition: all .3s ease-in-out
    -webkit-transition: all .3s ease-in-out

.burger-menu.menu-on .burger
  &::after
    transform: rotate(-45deg)
    -webkit-transform: rotate(-45deg)
    bottom: 0px

.burger-menu.menu-on .burger
  &::before
    transform: rotate(45deg)
    -webkit-transform: rotate(45deg)
    top: 0px

.burger-menu.menu-on .burger
 background: rgba(111,111,111,.0)




.header__container
  margin: 0 106px  
  transition: all linear .5s
  

.header__content
  transition: all linear .5s
  display: flex
  align-items: center
  
  a
    text-decoration: none 

.header__content-logo
  display: flex
  align-items: center
  width: 45%
  transition: all linear .5s
  p
    padding: 0 20px 
    font-style: normal
    font-weight: normal
    font-size: 16px
    line-height: 23px
    letter-spacing: 0.02em
  img
    padding-top: 5px   

.header__content-phones
  ul 
    display: flex     
    li
      a
        font-style: normal
        font-weight: normal
        font-size: 18px
        line-height: 25px
        letter-spacing: 0.02em
        color: $white
        text-decoration: none

.header__content-callback
  display: flex
  align-items: center 

.hidden-links_block
  transition: all linear .5s
  background-image: url('../img/ract.svg')
  background-size: cover
  width: 235px
  height: 79px
  display: none
  opacity: 1
  flex-direction: column
  position: absolute
  padding: 20px
  color: $dark
  li 
    padding: 3px!important
    a
      font-family: Museo!important
      transition: all linear .5s
      padding: 5px!important
      font-style: normal!important
      font-weight: normal!important
      font-size: 14px!important
      line-height: 20px!important
      letter-spacing: 0.02em!important
      color: #000000!important
      text-decoration: none!important
      &:hover
        color: $accentcolor!important
.hidden-links
  &:hover ~ .hidden-links_block
    a
      margin-left: 0
    
// .btn-row 
//     position: absolute 
//     right: 40px
//     top: 35px
//     &:last-child 
//         margin: 0
    
// .js-burger
//   border-radius: 2px!important

// .burger 
//     position: relative
//     display: block
//     width: 34px
//     height: 30px
//     padding: 13px 0
//     border-radius: 2px
//     background-color: #fff
//     background-clip: content-box
//     cursor: pointer
//     transition: background 50ms ease-in 250ms
//     &:before,
//     &:after 
//         content: ''
//         border-radius: 2px
//         position: absolute
//         width: 100%
//         height: 4px
//         top: 0
//         left: 0
//         background: #fff
//         transform: rotate(0deg) scale(1)
//         transition: top .25s ease-in .3s,
//         transform .25s ease-in 0s
    
//     &:after 
//         top: 26px
    
//     &.is-open 
//         background-color: transparent
//         transition: background 50ms ease-in 250ms
//         &:before,
//         &:after 
//             top: 13px
//             transition: top .25s ease-in 0s,
//             transform .25s ease-in .3s
        
//         &:before 
//             transform: rotate(-45deg) scaleX(1.2)
        
//         &:after 
//             transform: rotate(45deg) scaleX(1.2)

.bottom-line
  border-bottom: 1px solid $white    
  transition: all linear .5s
  margin: 0 27px
  font-style: normal
  font-weight: normal
  font-size: 18px
  line-height: 25px
  letter-spacing: 0.02em
  &:hover
    border-bottom: 1px solid $white  
    
.header__content-callback
  border-radius: 100px
  background: rgba(255, 255, 255, 0.1)
  padding: 0 10px
  img
    z-index: 999 
  p 
    font-style: normal
    font-weight: normal
    font-size: 18px
    line-height: 25px
    letter-spacing: 0.02em
    padding: 15px 12px
    color: $white
  &:hover 
    img
      animation-duration: 1.5s
      animation-name: slidein  

@keyframes slidein 
  0% 
    transform: rotate(0)

  50%
    transform: rotate(45deg)

  100%
    transform: rotate(0)
    
.content-main
  display: flex
  justify-content: space-between
  margin-left: 116px   
.header-content-menu
  position: relative
  ul
    li
      padding: 9px 0
      a
        transition: all linear .5s
        font-family: Gothic1
        font-style: normal
        font-weight: bold
        font-size: 18px
        line-height: 22px
        letter-spacing: 0.01em
        text-transform: uppercase
        color: $white 
      &:hover
        a
          text-decoration: none
          margin-left: 10px

.header-content-mobile
  width: 100%
  height: auto
  position: fixed
  padding: 20px
  left: 0
  right: 0
  top: 106px
  z-index: 9999 
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), rgba(255, 255, 255, 0.3)
  font-size: 14px!important
  line-height: 17px!important
  letter-spacing: 0.01em!important

.header-content
  width: 100%
  height: auto
  position: fixed
  padding: 20px
  left: 0
  right: 0
  top: 106px
  z-index: 9999 
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), rgba(255, 255, 255, 0.3)
.header-content-img
  position: absolute   
  right: 40px 
  top: 100px 

// .page-news
//   width: 100%
//   height: 464px
//   display: table
//   background-image: url('../img/bg-news.svg')     
//   background-size: cover    
/*! .header end*/
